# Ignore model folder
HTTMAdmin/data/model/

# Ignore raw_samples folders
HTTMAdmin/data/raw_samples/non_violence/
HTTMAdmin/data/raw_samples/violence/

HTTMAdmin/data/test_samples/non_violence/
HTTMAdmin/data/test_samples/violence/

HTTMAdmin/data/train_samples/non_violence/
HTTMAdmin/data/train_samples/violence/